:root
{
    --firtdark: #0d1117;
    --seconddark: #21262d;
    --redtextcolor:#f00950;
    --purcolor: rgb(189, 21, 189);
}

html {
    scroll-behavior: smooth;
  }

/**/



body
{
    background-color: var(--firtdark);
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
}


#apresentation
{
    transition: 1.5s;
    transform: scale(0.9);
}



ion-icon, i
{
    color: var(--redtextcolor);
    
}



ion-icon:hover
{
    color: var(--purcolor);
}

#all
{
    display: flex;
    justify-content: center;
    flex-direction: column;


}

section
{
    
}

#apresentation
{
    display: block;
    flex-direction: column;
    border-radius: 20px;
    border: none;
    margin-bottom: 5vh;
    width: 95%;
    height: 95vh;
    background-color: var(--seconddark);
    box-shadow: 1px 0.2px 2px 2px rgba(255, 40, 201, 0.479);
    border-radius: 20px;
    border: none;
    
}







#apresentation nav
{
    display: flex;
    justify-content: end;
    flex-direction: row;
    padding: 20px 10px 10px 0;
}

#apresentation nav a
{
    margin: 0 10px 0 10px;
    text-decoration: none;
    color:aliceblue;
}


#apresentation nav a:hover
{
    transition: 1s;
    transform: scale(1.3);
    color: var(--redtextcolor)

}

#social
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#social ul
{

    justify-content: space-between;
    list-style: none;
    font-size: 28px;

}


#social ul li
{
    margin: 10px;
}


.row
{
    display: flex;
    flex-direction: row;
}

.column
{
    display: flex;
    flex-direction: column; 
}

#coreapresentation
{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 90%; height: 100%;
}

#blob
{
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
    width: 100%;
 
}

#blob svg
{
   z-index: 2000;
   fill: var(--redtextcolor);
   height: 80%;
   width: 80%;
}


#mypic
{
    width: 170px;
}


#coreapresentation div
{
    display: flex;
    flex-direction: column; 
    width: 60%;
    margin: 0 0 0 50px;
}

#coreapresentation div p
{
    margin-bottom: 0;
    padding-bottom: 0;
}


#coreapresentation div span
{
    margin-top: -10px;
    font-weight: 600;
    color: grey;
}


#coreapresentation div h
{
    text-align: justify;
    margin: 0;
}

p, span
{
    font-size: 17px;
}

h1
{
    font-size: 23px;
}

ion-icon[name="arrow-dropup-circle"]
{
    font-size: 40px;
    z-index: 2000;
    position: fixed;
    top: 90%; right: 10%;
}

#sabout
{
    margin-bottom: 50px;
}

#sabout h1
{
    text-align: center;
    margin-bottom: 50px;

}

#about
{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

#imgabout, #aboutme
{
    
}

#imgabout
{
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

/* transform: dance 300ms linear; */

#imgabout svg
{
    margin: 0;
    animation: dance 3.5s ease-in-out infinite;
    
    

   
}

@keyframes dance {
   0%
   {
    transform: perspective(400px) rotateY(0deg) rotateX(30deg);
   }
   25%
   {
    transform: perspective(200px) rotateY(-30deg) rotateX(0deg);
   }
   50%
   {
    transform: perspective(400px) rotateY(30deg) rotateX(-30deg);
   }
   75%
   {
    transform: perspective(300px) rotateY(0deg) rotateX(30deg);
   }


    
    
}


#aboutme
{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    
}

#quali
{
    display: flex;
    width: auto;
    flex-direction: row;
    justify-content: end;
    align-items: start;
}

#quali div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 15px 0 5px;
    
    
    
}

#quali div p
{
    color: white;
    font-size: 25px;
    font-weight: bolder;
    font-style: italic;
    margin-bottom: 0;
    

}

#quali div span
{
    color: var(--redtextcolor);
    font-size: 12px;
    font-weight: bolder;
    
}


#aboutme p
{
    color: grey;
}

#sskill
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 0 0 0;
    width: 100%;
    
}



#sskill h1
{
    margin-bottom: 30px;
    text-align: center;
}


#sskill h2
{
    font-size: 17px;
}


#skill
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    width: 100%;
    
}

.field
{
    width: 90%;
    margin: 0 10px 0 10px;
}


.fieldheader
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    
    
}

.fieldheader i
{
    font-size: 20px;
    margin-right: 7px;
}



.skills ul
{
    list-style: none;
    width: 100%;
}

.skill.label
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.progress
{
    width: 100%;
    height: 7px;
    display: flex;
    background-color: var(--seconddark);
    border-radius: 10px;

    
}


.percent
{
    height: 100%;
    width: 50%;
    background-color: var(--redtextcolor);
    border-radius: 10px;

}


ion-icon[name="arrow-dropdown"]
{
    display: none;
}


#sacademy, #sprojects
{
    margin-top: 50px;
    width: 100%;
    
    
}

#sacademy h1, #sprojects h1
{
    text-align: center;
    margin-bottom: 100px;
}

#allacademy
{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.academy
{
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.academy.line1
{
    width: 80%;
    align-items: end;

}


.academy.line2
{
    width: 50%;
    align-items: start;


}

.stage 
{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 20%;
    margin-right: 20px;
}


.stage p
{
    font-size: 15px;
    margin: 0; padding: 0;
}


.stage span
{
    margin-bottom: 10px;
}


.date
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80px;
}

.stage span, .date span
{
    color: grey;
    font-size: 12px;
}

#timeline
{
    width: 100%;
    display: flex;
    padding: 10px;
}

#timeline span
{
    width: 80%;
    height: 3px;
    background-color: grey;
    margin: 0;
    border-radius: 10px;
    
}

#timeline   .fa-solid.fa-circle
{
    position:relative;
    margin-top: -7px;
}

#sprojects
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


#projects
{
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;



    
}

.project
{
    background-color: var(--seconddark);
    
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.project:hover
{
    transition: 1s;
    transform: scale(1.1);
    border: solid 1px var(--redtextcolor);
}


.project img
{
    width: 100%;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    
}

.project h1
{
    font-size: 25px;
    margin-bottom: 0;
}

.project span
{
    font-size: 12px;
    color: grey;
    text-align: center;
    width: 85%;
    margin: -20px 0;
}

.project p
{
    font-size: 16px;
    text-align: center;
    margin-top: 40px;


}

.project ion-icon
{
    font-size: 25px;
}


.aboutproject
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
    padding: 30px;

}


@media only screen and (max-width: 600px)
{




#about
{
    display: flex;
    flex-direction: column;
    align-items: center;
    
} 

#aboutme
{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    
}

p, span
{
    font-size: 13px;
}

h1
{
    font-size: 20px;
}
    


    p, h1, span, ion-icon, svg, a
    {
        transition: 2s;
        visibility: visible;
    }


    
    #apresentation
    {
        top:0;
        width: 100vw;
        height: 100vh;
    }
    
    
    #coreapresentation
    {
        flex-direction: column;
        height: 80%;
    }

#blob svg
{
   z-index: 2000;
   fill: var(--redtextcolor);
   height: 100%;
   width: 100%;
}


ion-icon[name="arrow-dropdown"]
{
    display: block;
}

#skill
{
    display: flex;
    flex-direction: column;
    width: 90%;
}




.skills
{
    display: none;
}


.skills.on
{
    animation: fadein 1000ms linear;
    display: block;
}

.skills.off
{
    animation: fadein reverse 1000ms linear;
    
    
}

.field
{
    width: 100%;
}    

.fieldheader
{
    --btb: 1px solid var(--seconddark);
    border-top: var(--btb);
    border-bottom: var(--btb);
    
   
    
}

#sacademy h1
{
    margin-bottom: 40px;
}


#allacademy
{
    flex-direction: row;
}

.academy
{
    flex-direction: column;
}



.academy.line1
{
    height: 80%;
    width: 0;
}


.academy.line2
{
    height: 50%;

}


#timeline
{
    width: 80%;
    display: flex;
    padding: 10px;
    transform: rotate(90deg);
    position: absolute;


}

#timeline span
{
    width: calc(100% + 80px);
    height: 3px;
    background-color: grey;
    margin: 0 -100px;
}

#timeline   .fa-solid.fa-circle
{
    position:relative;
    margin-top: -5px;
}


#projects
{
    grid-template-columns: 1fr 1fr;
    width: 100%;

}

.project:hover
{
    transition: 1s;
    transform: scale(1);
    border: none;
}




/*
  
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center
*/

@keyframes fadein{
    0% {
        transform: translateY(-200px);
        opacity: 0;
    }
    80% {
        transform: translateY(-80px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


@keyframes fadeout{
    0% {
        transform: translateY(0);
        opacity: 1;
        display: block;
    }
    80% {
        transform: translateY(80px);
        opacity: 1;
        display: block;
    }
    100% {
        transform: translateY(200px);
        opacity: 1;
        display: none;
    }
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}





}

@media only screen and (max-width: 500px)
{

    
        #apresentation nav
        {
            justify-content: center;
        }

        

        #coreapresentation div
        {
            margin-top: -30px;
        }


        
        

        
       


}



@media only screen and (max-width: 400px)
{

    .fieldheader
    {
        justify-content: start;

        
    }


    #projects
    {
            grid-template-columns: 1fr;
            width: 100%;

    }


}

