:root
{
    --firtdark: #0d1117;
    --seconddark: #21262d;
    --redtextcolor:#f00950;
    --purcolor: rgb(189, 21, 189);
}

html {
    scroll-behavior: smooth;
  }

/**/



body
{
    background-color: var(--firtdark);
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
}


#apresentation
{
    transition: 1.5s;
    transform: scale(0.9);
}



ion-icon, i
{
    color: var(--redtextcolor);
    
}



ion-icon:hover
{
    color: var(--purcolor);
}

#all
{
    display: flex;
    justify-content: center;
    flex-direction: column;


}

section
{
    
}

#apresentation
{
    display: block;
    flex-direction: column;
    border-radius: 20px;
    border: none;
    margin-bottom: 5vh;
    width: 95%;
    height: 95vh;
    background-color: var(--seconddark);
    box-shadow: 1px 0.2px 2px 2px rgba(255, 40, 201, 0.479);
    border-radius: 20px;
    border: none;
    
}







#apresentation nav
{
    display: flex;
    justify-content: end;
    flex-direction: row;
    padding: 20px 10px 10px 0;
}

#apresentation nav a
{
    margin: 0 10px 0 10px;
    text-decoration: none;
    color:aliceblue;
}


#apresentation nav a:hover
{
    transition: 1s;
    transform: scale(1.3);
    color: var(--redtextcolor)

}

#social
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#social ul
{

    justify-content: space-between;
    list-style: none;
    font-size: 28px;

}


#social ul li
{
    margin: 10px;
}


.row
{
    display: flex;
    flex-direction: row;
}

.column
{
    display: flex;
    flex-direction: column; 
}

#coreapresentation
{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 90%; height: 100%;
}

#blob
{
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
    width: 100%;
 
}

#blob svg
{
   z-index: 2000;
   fill: var(--redtextcolor);
   height: 80%;
   width: 80%;
}


#mypic
{
    width: 170px;
}


#coreapresentation div
{
    display: flex;
    flex-direction: column; 
    width: 60%;
    margin: 0 0 0 50px;
}

#coreapresentation div p
{
    margin-bottom: 0;
    padding-bottom: 0;
}


#coreapresentation div span
{
    margin-top: -10px;
    font-weight: 600;
    color: grey;
}


#coreapresentation div h
{
    text-align: justify;
    margin: 0;
}

p, span
{
    font-size: 17px;
}

h1
{
    font-size: 23px;
}

ion-icon[name="arrow-dropup-circle"]
{
    font-size: 40px;
    z-index: 2000;
    position: fixed;
    top: 90%; right: 10%;
}

#sabout
{
    margin-bottom: 50px;
}

#sabout h1
{
    text-align: center;
    margin-bottom: 50px;

}

#about
{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

#imgabout, #aboutme
{
    
}

#imgabout
{
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


#imgabout svg
{
    margin: 0;
   
}


#aboutme
{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    
}

#quali
{
    display: flex;
    width: auto;
    flex-direction: row;
    justify-content: end;
    align-items: start;
}

#quali div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 15px 0 5px;
    
    
    
}

#quali div p
{
    color: white;
    font-size: 25px;
    font-weight: bolder;
    font-style: italic;
    margin-bottom: 0;
    

}

#quali div span
{
    color: var(--redtextcolor);
    font-size: 12px;
    font-weight: bolder;
    
}


#aboutme p
{
    color: grey;
}

#sskill
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    margin: 50px 0 0 0;
    width: 100%;
    
}

#skill
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    width: 100%;
    
}

.field
{
    width: 90%;
    margin: 0 10px 0 10px;
}


.fieldheader
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    
    
}

.fieldheader i
{
    font-size: 20px;
    margin-right: 7px;
}



.skills ul
{
    list-style: none;
    width: 100%;
}

.skill.label
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.progress
{
    width: 100%;
    height: 7px;
    display: flex;
    background-color: var(--seconddark);
    border-radius: 10px;

    
}


.percent
{
    height: 100%;
    width: 50%;
    background-color: var(--redtextcolor);
    border-radius: 10px;

}


ion-icon[name="arrow-dropdown"]
{
    display: none;
}


@media only screen and (max-width: 600px)
{




#about
{
    display: flex;
    flex-direction: column;
    align-items: center;
    
} 

#aboutme
{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    
}

p, span
{
    font-size: 13px;
}

h1
{
    font-size: 20px;
}
    


    p, h1, span, ion-icon, svg, a
    {
        transition: 2s;
        visibility: visible;
    }


    
    #apresentation
    {
        top:0;
        width: 100vw;
        height: 100vh;
    }
    
    
    #coreapresentation
    {
        flex-direction: column;
        height: 80%;
    }

#blob svg
{
   z-index: 2000;
   fill: var(--redtextcolor);
   height: 100%;
   width: 100%;
}


ion-icon[name="arrow-dropdown"]
{
    display: block;
}

#skill
{
    display: flex;
    flex-direction: column;
    width: 90%;
}




.skills
{
    display: none;
}


.skills.on
{
    animation: fadein 1000ms linear;
    display: block;
}

.skills.off
{
    animation: fadein reverse 1000ms linear;
    
    
}

.field
{
    width: 100%;
}    

.fieldheader
{
    --btb: 1px solid var(--seconddark);
    border-top: var(--btb);
    border-bottom: var(--btb);
    
   
    
}



/*
  
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center
*/

@keyframes fadein{
    0% {
        transform: translateY(-200px);
        opacity: 0;
    }
    80% {
        transform: translateY(-80px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


@keyframes fadeout{
    0% {
        transform: translateY(0);
        opacity: 1;
        display: block;
    }
    80% {
        transform: translateY(80px);
        opacity: 1;
        display: block;
    }
    100% {
        transform: translateY(200px);
        opacity: 1;
        display: none;
    }
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}





}

@media only screen and (max-width: 500px)
{
    
        #apresentation nav
        {
            justify-content: center;
        }

        

        #coreapresentation div
        {
            margin-top: -30px;
        }
        

        
       


}



@media only screen and (max-width: 400px)
{

    .fieldheader
    {
        justify-content: start;

        
    }


}

