:root
{
    --firtdark: #0d1117;
    --seconddark: #21262d;
    --redtextcolor:#f00950;
    --purcolor: rgb(189, 21, 189);
}

/**/



body
{
    background-color: var(--firtdark);
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
}


#apresentation
{
    transition: 1.5s;
    transform: scale(0.8);
}



ion-icon
{
    color: var(--redtextcolor);
    
}

ion-icon:hover
{
    color: var(--purcolor);
}

#all
{
    display: flex;
    justify-content: center;


}


#apresentation
{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10%;
    width: 80%;
    height: 80%;
    background-color: var(--seconddark);
    border-radius: 20px;
    border: none;
    box-shadow: 1px 0.2px 2px 2px rgba(255, 40, 201, 0.479);
    
    
}







#apresentation nav
{
    display: flex;
    justify-content: end;
    flex-direction: row;
    padding: 10px 0 10px 0;
}

#apresentation nav a
{
    margin: 0 10px 0 10px;
    text-decoration: none;
    color:aliceblue;
}


#apresentation nav a:hover
{
    transition: 1s;
    transform: scale(1.3);
    color: var(--redtextcolor)

}

#social
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#social ul
{

    justify-content: space-between;
    list-style: none;
    font-size: 28px;

}


#social ul li
{
    margin: 10px;
}


.row
{
    display: flex;
    flex-direction: row;
}

.column
{
    display: flex;
    flex-direction: column; 
}

#coreapresentation
{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 90%; height: 100%;
}


#coreapresentation svg
{
   z-index: 2000;
   fill: var(--redtextcolor);
   height: 50%;
   width: 50%;
}


#mypic
{
    width: 170px;
}


#coreapresentation div
{
    display: flex;
    flex-direction: column; 
    width: 60%;
    margin: 0 0 0 50px;
}

#coreapresentation div p
{
    margin-bottom: 0;
    padding-bottom: 0;
}


#coreapresentation div span
{
    margin-top: -10px;
    font-weight: 600;
    color: grey;
}


#coreapresentation div h
{
    text-align: justify;
    margin: 0;
}

p, span
{
    font-size: 17px;
}

h1
{
    font-size: 23px;
}

ion-icon[name="arrow-dropup-circle"]
{
    font-size: 40px;
    z-index: 2000;
    position: fixed;
    top: 90%; right: 10%;
}




@media only screen and (max-width: 600px)
{

p, span
{
    font-size: 13px;
}

h1
{
    font-size: 20px;
}
    
#apresentation
{
transition: 1.5s;
transform: scale(1);
}

    p, h1, span, ion-icon, svg, a
    {
        transition: 2s;
        visibility: visible;
    }


    
    #apresentation
    {
        top:0;
        width: 100%;
        height: 100%;
    }
    
    
    #coreapresentation
    {
        flex-direction: column;
    }
}

@media only screen and (max-width: 500px)
{
    
        #apresentation nav
        {
            justify-content: center;
        }

        #coreapresentation svg
        {
            width: 60%;
            height: 60%;
            margin-bottom: -50px;
        }

        #coreapresentation div
        {
            margin-top: -30px;
        }
        



}
